*.o
*.bak
*.d
.idea
*.iml

/Teichroboter/android/out
/Teichroboter/avr_M168/avr_M168/Debug
/Teichroboter/android/gen
/Teichroboter/avr_butterfly/avr_butterfly/Debug

/Fahrregler/android/out
/Fahrregler/android/gen
