*.o
*.bak
*.d
/Teichroboter/android/out
/Teichroboter/android/.idea
/Teichroboter/avr_M168/avr_M168/Debug
/Teichroboter/android/gen

*.iml
/Fahrregler/android/out
/Fahrregler/android/.idea
/Fahrregler/android/gen

/facerecognition/linux/.idea